.registerationForm {
    width: 100%;
    height: auto;
    top: 5.375rem;
    position: relative;

    .registerationFormContainer {
        display: flex;
        flex: 1;
        max-width: 37.5rem;
        margin: auto;
        justify-content: center;


        .formTitle {
            font-size: 3rem;
            color: black;
            font-weight: 500;
        }
    }
}