@import '../../App.scss';

.NavBar {
    display: flex;
    flex: 1;
    box-shadow: 0px 1px 10px #999;
    padding: 1rem 3rem;
    align-items: center;

    .NavbarItems {
        display: flex;
        // background: orange;
        flex: 1;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 992px) {
            flex-wrap: wrap;

        }
        .NavbarLogo {
            // background: pink;
            @media screen and (max-width: 992px) {
                width: 70%;
            }
            .Logo {
                height: 3.125rem;
                width: 3.125rem;
            }
        }

        .NavbarToggleIcon {
            width: 10rem;
            height: auto;
            display: none;

            @media screen and (max-width: 992px) {
                display: flex;
                width: 30%;
                justify-content: flex-end;
            }

            .Hamburger {
                width: auto;
                height: auto;
                background: transparent;
                display: flex;
                flex-direction: column;
                align-items: center;

                &:hover {
                    cursor: pointer;
                }

                .HamburgerIconBar1{
                    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                    transform: rotate(-45deg) translate(-1rem, 1rem);
                    width: 2.188rem;
                    height: 0.313rem;
                    background-color: $primary-color;
                    margin: 0.375rem 0;
                    transition: 0.4s;

                }
                .HamburgerIconBar2{
                    opacity: 0;
                    width: 2.188rem;
                    height: 0.313rem;
                    background-color: $primary-color;
                    margin: 0.375rem 0;
                    transition: 0.4s;
                }
                .HamburgerIconBar3{
                    -webkit-transform: rotate(45deg) translate(-8px, -8px);
                    transform: rotate(45deg) translate(-0.5rem, -0.5rem);
                    width: 2.188rem;
                    height: 0.313rem;
                    background-color: $primary-color;
                    margin: 0.375rem 0;
                    transition: 0.4s;
                  }

                .HamburgerIcon {
                    width: 2.188rem;
                    height: 0.313rem;
                    background-color: $primary-color;
                    margin: 0.375rem 0;
                    transition: 0.4s;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        
        .NavbarUl {
            padding-inline-start: 0;
            display: flex;
            flex: 1;
            width: 100%;
            align-items: center;

            @media screen and (max-width: 992px) {
                display: none;
            }

            .NavbarSearchBar {
                display: flex;
                flex: 1;
                justify-content: center;
                padding: 0 2rem;
            }
            
            .NavbarRoutes {
                display: flex;
                justify-content: flex-end;

                a {
                    color: $font-title-color;
                    text-decoration: none;

                    &:hover {
                        cursor: pointer;
                        color: $primary-color;
                    }


                    .NavLinks {
                        padding: 1rem 2rem;
                    }
                }

            }
        }

        .NavbarUl.active {
            display: flex;
            flex-direction: column;

            .NavbarSearchBar {
                padding: 1rem 0;
            }

            .NavbarRoutes {
                display: flex;
                flex-direction: column;

                a {
                    padding: 1rem 0;
                }
            }
        }
    }
}